* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  background-color: #2a2a2a;
  height: 100vh;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  height: 150px;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}
